* {
  box-sizing: border-box;
}

body {
  font-family: "Staatliches", cursive;
  font-size: 20px;
  background-image: url(/img/img2.jpg);
  background-repeat: repeat-x;
  background-attachment: fixed;
  background-size: 100%;
  color: rgb(0, 0, 0);
  animation: slide 30s linear infinite;
}
@keyframes slide {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 0%;
  }
  100% {
    background-position: 0% 0%;
  }
}
h1 {
 

 
  
  color: rgb(253, 0, 38);
  text-align: center;
  letter-spacing: 5px;
  font-size: 15px;
  background-color: #000000;
}

.header_family {
  color: rgb(11, 228, 15);
  text-align: center;
  transition: all 300ms;
  font-size: 50px;
  text-shadow: 3px 3px sienna;
}

h2:hover {
  color: rgb(0, 0, 0);
  transform: rotate(360deg) scale(1.5);
}

.header_animals {
  text-align: center;

  text-shadow: 1px 3px rgb(13, 210, 147);
  font-size: 50px;
  transition: all 600ms ease-out;
}
.header_animals:hover {
  transform: rotate(360deg) scale(1.5);
  color: teal;
}

h5 {
  color: #54d525;
  transition: all 200ms ease;
}
h5:hover {
  color: rosybrown;
}
h4 {
  color: black;
  text-align: center;
  box-shadow: 10px 10px 10px 10px;
  transition: all 300ms ease-in-out;
}
h4:hover {
  color: rgb(241, 195, 7);
  transform: scale(1.2);
  text-shadow: 1px 1px;
}

.container {
  /* задать ширину и выровнять по середине */
  max-width: 990px;
  margin: 0 auto;
}
.row {
  /* строка */
  display: flex;
  flex-wrap: wrap;
}
[class^="col"] {
  padding: 0 10px;
}
.col-1 {
  flex: 8.3% 1 1;
}
.col-2 {
  flex: 16.6% 0 0;
}
.col-3 {
  flex: 25% 1 1;
}

.col-4 {
  flex: 33.3% 1 1;
  
}
.col-5 {
  flex: 41.6% 0 0;
}
.col-6 {
  flex: 50% 0 0;
  font-size: 15px;
}
.col-7 {
  flex: 58.3% 0 0;
}
.col-8 {
  flex: 66.6% 0 0;
}
.col-9 {
  flex: 75% 0 0;
}
.col-10 {
  flex: 83% 0 0;
}
.col-11 {
  flex: 91.6% 0 0;
}
.col-12 {
  flex: 100% 0 0;
}

.card {
  background-color: rgb(245, 245, 245);
  border: 3px solid black;
  box-shadow: 2px 3px 0 0 rgb(7, 238, 169);
  border: 5px springgreen;
  border-radius: 10px;
  transform: perspective(2);
  transition: all 300ms ease-in;

  margin-bottom: 15px;
}
.card:hover {
  transform: scale(1.3);
}
.card_item1 {
  
  border-radius: 4%;
  transition: all 300ms ease-in-out;
  background-color: rgb(1, 0, 1);
}
.card_item1:hover {
  transform: scale(1);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.card_item2 {
  text-shadow: 1px 1px sandybrown;
  box-shadow: 3px 4px navy;
  border-radius: 5px;
  border-color: darkred;
  background-color: antiquewhite;
  transition: all 300ms ease-in-out;
}

.card_item2:hover {
  transform: rotate(0);
  color: darkcyan;
}
.card_item2 h5 {
  color: yellowgreen;
  transition: all 200ms ease-in-out;
}
.card_item2 h5:hover {
  color: rgb(17, 70, 70);
}

.card .card-image {
  width: 100%;
}
.card .card-content {
  padding: 10px 15px;
}
.card.card-horizonal {
  display: flex;
}
.card.card-horizonal .card-image {
  width: 55%;
}

